body {
    font-family: Arial, sans-serif;
    background-image: url('signup1.jpg');
    
     /* background-color: rgba(57, 126, 57, 0.6); */
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#home{
    position: absolute;
    top: 2%;
    right: 2%;
    height: 5%;
    width: 4.5%;
    background-color: whitesmoke;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: black solid 1px;
    border-radius: 10px;
  
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

form>button{
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
   
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

form>button:hover {
    background-color: #45a049;
}
